:root {
    --Azul: #2481A6;
    --Azul-Claro: #A7F2F2;
    --Verde: #9DBF21;
    --Verde2: #09A603;
    --Rosa: #D95B72;
    --Vermelho: #F23D3D;

}

@font-face {
    font-family: "ChelseaMarket";
    src: local("ChelseaMarket-Regular");
    src: url("../fonts/ChelseaMarket-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ChelseaMarket;
}

html {
    scroll-behavior: smooth;
}

body{
    max-width: 100vw;
    width: 100%;
}

main {
    z-index: 1;
}

.navbar {
    background-color: white;
    z-index: 3;
}

.navbar-brand {
    margin-left: 1rem;
}

.navbar-brand img {
    width: 110px;
}

.nav-link {
    color: var(--Azul);
    font-weight: 500;
}

.nav-link:hover {
    color: var(--Rosa);
    text-decoration: underline;
}

.menu {
    margin-left: 20rem;
}



.navbar-nav {
    gap: 4rem;
}

.carrossel{
    margin-top: 7rem;
}

.carrosel .carousel-inner {
    height: 30rem;
}


.sobre {
    margin-top: 10rem;
    margin-bottom: 5rem;
    scroll-margin-top: 14rem;

}

.sobre-conteudo {
    display: flex;
    justify-content: space-around;
}

.sobre-texto {
    margin-left: 5rem;
    width: 35rem;
    font-size: 16pt;
    text-align: justify;
    color: var(--Azul);
    
}

.sobre-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-imagem {
    margin-top: -4rem;
    width: 30rem;
}

.sobre-imagem img {
    width: 381px;
    height: 474px;
}

.episodios {
    background-color: var(--Azul);
    scroll-margin-top: 5rem;
}

.episodios-conteudo {
    display: flex;
    justify-content: space-around;
}

.episodios-imagem {
    margin-top: 5rem;
    width: 30rem;
}

.episodios-imagem img {
    width: 381px;
    height: 529px;
}

.episodios-title {
    margin-top: -3rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 3rem;
}

.episodios-videos {
    margin-top: 7rem;
    width: 50rem;
}

.videos {
    margin-top: -4rem;
}

.carrossel-control {
    background-color: rgba(128, 128, 128, 0.514);
    opacity: 1;
    width: 3rem;
    margin-top: 10rem;
    height: 80px;
}

.anterior {
    margin-left: -3rem;
}

.proximo {
    margin-right: -0.5rem;
}

.jogos {
    margin-top: 10rem;
    margin-bottom: 5rem;
    scroll-margin-top: 12rem;

}

.jogos-conteudo {
    display: flex;
    justify-content: space-around;
}

.jogos-botoes {
    margin-left: 5rem;
    width: 40rem;  
}

.botoes {
    display: flex;
    flex-wrap: wrap;
}

.botoes button {
    width: 200px;
    height: 170px;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.7em;
    border: none;
    border-radius: 10px;
    color: white;
    transform: scale(1);
}

.botoes button:hover {
    transform: scale(1.05);
}


.botoes button img {
    width: 100px;
}

#button-1 {
    background-color: var(--Azul);
}

#button-2 {
    background-color: var(--Rosa);
}

#button-3 {
    background-color: var(--Verde);
}

#button-4 {
    background-color: var(--Vermelho);
    margin-left: 7rem;
}
#button-5 {
    background-color: var(--Verde2);
}


.jogos-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Azul);
    margin-bottom: 3rem;
}

.jogos-imagem {
    margin-top: -4rem;
    width: 30rem;
}

.jogos-imagem img {
    width: 381px;
    height: 474px;
}


.materiais {
    background-color: var(--Verde);
    scroll-margin-top: 5rem;
}

.materiais-conteudo {
    display: flex;
    justify-content: space-around;
}

.materiais-imagem {
    margin-top: 5rem;
    width: 10rem;
}

.materiais-imagem img {
    width: 381px;
    height: 529px;
}

.materiais-title {
    margin-top: -3rem;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 10rem;

}

.materiais-documentos {
    margin-top: 7rem;
    width: 50rem;
}

.materiais-buttons {
    margin-left: 10rem;
}

#materiais-button-1 {
    background-color: var(--Azul);
}

#materiais-button-2 {
    background-color: var(--Azul);
}

#materiais-button-3 {
    background-color: var(--Azul);
}

#materiais-button-4 {
    background-color: var(--Azul);
    margin-left: 7rem;
}
#materiais-button-5 {
    background-color: var(--Azul);
}



.creditos {
    margin-top: 10rem;
    margin-bottom: 6rem;
    scroll-margin-top: 10rem;

}

.creditos-conteudo {
    display: flex;
    justify-content: space-around;
}

.creditos-texto {
    margin-left: 5rem;
    width: 20rem;
    font-size: 16pt;
    text-align: justify;
    color: var(--Azul);
    
}

.creditos-texto2 {
    margin-left: -5rem;
    margin-right: 16rem;
    width: 20rem;
    font-size: 16pt;
    text-align: justify;
    color: var(--Azul);
    
}

.creditos-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5.5rem;
    width: 55rem;
    color: var(--Azul);
}

.creditos-imagem {
    margin-top: -4rem;
    width: 40rem;
}

.creditos-imagem img {
    width: 381px;
    height: 474px;
}

.logo-semed {
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: -5rem;
}

.logo-semed img {
    width: 20rem;

}

footer {
    margin-top: -5rem;
    background-color: var(--Rosa);
    height: 13.5rem;
}

.rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}


.rodape p {
    margin-top: -6rem;
}


